<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Acommerce_Address::address">
                        <resource id="Acommerce_Address::region" title="Regions Manager">
                            <resource id="Acommerce_Address::region_create" title="Create"/>
                            <resource id="Acommerce_Address::region_edit" title="Edit" />
                            <resource id="Acommerce_Address::region_delete" title="Delete"/>
                        </resource>
                        <resource id="Acommerce_Address::city" title="Cities Manager">
                            <resource id="Acommerce_Address::city_create" title="Create"/>
                            <resource id="Acommerce_Address::city_edit" title="Edit" />
                            <resource id="Acommerce_Address::city_delete" title="Delete"/>
                        </resource>
                        <resource id="Acommerce_Address::township" title="Township Manager">
                            <resource id="Acommerce_Address::township_create" title="Create"/>
                            <resource id="Acommerce_Address::township_edit" title="Edit" />
                            <resource id="Acommerce_Address::township_delete" title="Delete"/>
                        </resource>
                        <resource id="Acommerce_Address::import_address" title="Import Address"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
